body {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

input {
  font-size: 30px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button {
  font-size: 25px !important;
}

.header {
  min-height: 10vh;
}

.main {
  min-height: 90vh;
}

.value {
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.date {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}
