<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  </head>

  <body ng-app="APP" class="container-fluid">
    <div class="header row">
      <div class="col-xs-12">
        <h1>Converter <strong>EUR</strong> to <strong>PLN</strong></h1>
      </div>
    </div>

    <div class="main col-md-8 col-md-push-2 col-xs-12" ng-controller="MainController">
      <div class="row">
        <div class="jumbotron">
          <div class="form-group col-xs-12">
            <label class="col-xs-12">Enter EUR amout</label>
            <input class="col-md-2 col-md-push-5 col-xs-12" type="text" ng-model="value">
          </div>
          <button class="btn btn-default" ng-click="insert()">Convert</button>
        </div>

        <div class="row">
          <div ng-repeat="value in values track by $index">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>PLN</strong> amout</div>
                  <div class="panel-body">
                    <div class="value">{{value}}</div>
                    <div class="date"><span class="glyphicon glyphicon-calendar"></span> {{date[$index]}}</div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
  </body>
</html>
